html, body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #4f3a3a;
    background:rgb(120, 121, 127) ;
}

.table tr td:first-child{
    font-weight: 800;
}

img{
    height: 175px;
    width: 130px;
    margin-top: 50px;
    margin-right: 20px;
}

.table tr td{
    padding: .25rem;
}

.photo{
    border-radius: 1rem;
}

hr{
    border: 1px solid #efefef;
}

.wrapper a{
    color: white;
    background: #444;
    font-weight: 900;
    font-size: 2vh;
    padding: 0.8vh;
    border-radius: 0.8vh;
    margin: 0.8vh;
}

.wrapper a:hover{
    opacity: 0.5;
}